.widget-section .contactAcquaintanceLevelSection,
.widget-section.box .contactAcquaintanceLevelSection,
.contactAcquaintanceLevelSection{
	.widget-section-header{
		padding: 0px!important;
	}
	.widget-section-content{
		border-left: 2px dotted;
		padding-left: 0.5em !important;
		margin-left: 0.5em !important;
		border-color: inherit;
	}
}

.app-contactorganization-contactacquaintanceitem{
	color: initial;
}